:root {
  --enhanced-clickable-color: yellow;
}

div.sports_book_name {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--enhanced-clickable-color);
}

.nav.enhancer {
    border: 0.1rem solid var(--enhanced-clickable-color) !important;
}
