/* Hide the top-left nav logo. It goes to the same place as the plays
  link and consumes too much horizonal space. */
div.logo img {
    display: none;
}

:root {
    --enhanced-clickable-color: yellow;
    --enhanced-clickable-active-color: lime;
}

div.sports_book_name {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--enhanced-clickable-color);
}

.nav.enhancer {
    border: 0.1rem solid var(--enhanced-clickable-color) !important;
}

.nav.enhancer.active {
    border: 0.1rem solid var(--enhanced-clickable-active-color) !important;
}
